<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Newcustomer</display-name>
    <servlet-name>Newcustomer</servlet-name>
    <servlet-class>com.controller.Newcustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newcustomer</servlet-name>
    <url-pattern>/Newcustomer</url-pattern>
  </servlet-mapping>
  <display-name>gen-bank</display-name>
  <welcome-file-list>
    
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewCustomer</display-name>
    <servlet-name>ViewCustomer</servlet-name>
    <servlet-class>com.controller.ViewCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomer</servlet-name>
    <url-pattern>/ViewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transactions</display-name>
    <servlet-name>Transactions</servlet-name>
    <servlet-class>com.controller.Transactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transactions</servlet-name>
    <url-pattern>/Transactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.controller.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCloseAccount</display-name>
    <servlet-name>ValidateCloseAccount</servlet-name>
    <servlet-class>com.controller.ValidateCloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCloseAccount</servlet-name>
    <url-pattern>/ValidateCloseAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccount</display-name>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>com.controller.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount</url-pattern>
  </servlet-mapping>
</web-app>
</element>